@charset "UTF-8";
.th_title {
	background-color: #eee;
	text-align: center;
}
.th_title {
	background-color: #eee;
	text-align: center;
}
.th_seq {
	background-color: #eee;
	text-align: center;
}
.th_date {
	background-color: #eee;
	text-align: center;
}
.th_hit {
	background-color: #eee;
	text-align: center;
}
.th_content {
	background-color: #eee;
	text-align: center;
}

.td_title{
	text-align: left;
}
.td_seq{
	text-align: left;
}
.td_date{
	text-align: left;
}
.td_hit{
	text-align: left;
}
.td_content {
	text-align: left;
}


tr:hover {
	background-color: gray;
}




/* 입력,목록 버튼 */
.btn {
	margin-top: 10px;
    margin-left: 10px;
	margin-bottom: 25px;
	font-size: 13px;
}
